.vs/
Programming/obj/
ProgrammingTests/obj/
Practics/obj/
Practics/bin/
PracticsTests/bin/
PracticsTests/obj/
ProgrammingTests/bin/
/BetterCoding/bin/Debug/net6.0
/BetterCoding/obj/Debug/net6.0
/BetterCoding/obj
